html {
    background: rgba(233, 225, 225, 0.479);
}

body{
    background-image: url(veiw.jpg);
} 
.brand-logo {
    height: 100px;
    width: 100px;
    background: url("logo-img.jpg");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 75vw;
    padding: auto;
    background-image: url(".jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 221, 39);
    font-size: 25px;
    margin-bottom: 5px;
}

.container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 55, 55);
    font-size: 20px;
    margin-top: 5px;
}

.form-wrapper {
    margin: 15px;
    width: 100%;
}

.form {
   width: 90%;
}

#studentimage {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 55, 55);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: Black;
    font-size: 14px;
}

.form-item {
    display: flex;
    margin: auto;
    align-items: center;
    width: 80%;
}

.form-item label {
    width: 150px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }
  
.form-item input {
    margin: 5px 15px;
    height: 22px;
    width: 100%;
    font-size: 13px;
    border: 1px black solid;
    border-radius: 10px;
}

.form-item select {
    margin: 5px 0px;
    margin: 5px 15px;
    height: 22px;
    width: 90px;
    font-size: 13px;
    border: 1px black solid;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.genders {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
    font-size: 14px;
}

.genders input {
    width: 20px;
}

hr {
    margin-top: 15px;
    width: 80%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.same-perm{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    margin: 5px 105px;
}

.register {
    margin: 25px;
    background: #1e90ff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 20px;
    border-radius: 20px;
    color: #fcfbfb;
    border: 0;
    cursor: pointer;
}

.register:hover {
    color: #3a3636;
}

@media screen and (max-width: 640px) {
    .container {
        width: 90vw;
        padding: 10px 5px;
    }
    .form-item label {
        font-size: 14px;
    }
    .form-item input {
        margin: 5px 10px;
        font-size: 12px;
    }
    .genders {
        margin-left: 10px;
        font-size: 13px;
    }
    .genders input {
        width: 15px;
    }
    .same-perm{

    font-size: 13px;
    margin: 5px 50px;
}
    .register {
        margin: 25px;
        font-size: 15px;
        padding: 7px 10px;
    }
}

